:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-title: #212121;
  --color-txt: #757575;
  --color-accent: #2196f3;
  --color-menu: #212121;
  --color-menu-contakt: #757575;
  --background-hero-footer: #2f303a;
  --bgr-team-button-portfolio: #f5f4fa;
  --stroke-card-portfolio: #eeeeee;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--color-txt);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}
/* =====&&&&======= */
li {
  outline: 1px solid tomato;
}

/* ======= COMPONENTS ======== */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 0;
}

/* ==== navigation ==== */
.header-section {
  align-items: center;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
}
.logo-web {
  color: var(--color-accent);
}

.menu {
  display: flex;
}
.menu-list {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-menu);
}
.curent {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-accent);
}

/* .item-li + .item-li {
  margin-left: 50px;
} */
.item-li:not(:last-child) {
  margin-right: 50px;
}
.item-li {
  display: block;
}

.nav-adress {
  display: flex;
  margin-left: auto;
}
.mail-contact {
  margin-right: 50px;
}

.menu-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-menu-contakt);
}

.menu-list:hover,
.menu-list:focus,
.menu-contact:hover,
.menu-contact:focus {
  color: var(--color-accent);
}

/* ===== hero ===== */
.hero {
  background: var(--background-hero-footer);
  text-align: center;
}
.container-hero {
  text-align: center;
  padding-right: auto;
  padding-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}

/* == section the best == */
.section-the-best {
}

.the-best {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.the-best-list {
  flex-basis: calc((100% - 90px) / 4);
}
.the-best-list + .the-best-list {
  margin-left: var(--card-set-gap);
}

.the-best-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-title);
  text-transform: uppercase;
}
.the-best-txt {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

/* ===== section we do ===== */

.we-do {
  display: flex;
  margin-left: -30px;
}
.we-do-li {
  margin-left: 30px;
}

.we-do-title,
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
}

/* ===== section team ===== */

.team {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}
.team-list {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 4px;
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  color: var(--color-title);
}
.team-txt {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 400;
  color: var(--color-txt);
}

/* ===== portfolio ===== */
.portfolio-button-menu {
  text-align: center;
}
.section-portfolio,
.portfolio-button {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
  background-color: var(--bgr-team-button-portfolio);
  border: none;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: var(--color-accent);
}
.portfolio-card {
  text-align: left;
  /* border-color: #eeeeee;
  border: 1px; */
}
.card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}
.card-txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/* footer */
footer {
  background: var(--background-hero-footer);
}
.div-footer {
  padding: 60px 15px;
  margin-right: auto;
}
.div-footer .logo {
  margin-bottom: 20;
}
.logo-studio {
  color: #ffffff;
}
.address {
  display: block;
}
.contact-list:not(:last-chaild) {
  margin-bottom: 20px;
}
contact-list {
  display: block;
}
.contact {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--contact-footer);
}

.contact-map {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.contact-map:hover,
.contact-map:focus,
.contact:hover,
.contact:focus {
  color: var(--color-accent);
}
